body {
    font-family: Arial, sans-serif;
    background-color: #ff7f00;
    color: #333;
    margin: 0;
    padding: 0;
}

body.dark {
    background-color: #333;
    color: #f8f9fc;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ff6f00;
    color: white;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.form-container {
    margin-bottom: 20px;
}

#daily-usage {
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #ff6f00;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff7f00;
}

.hidden {
    display: none;
}

.results {
    margin-top: 20px;
}

#usageGraph {
    max-width: 100%;
    height: 300px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff6f00;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.help-btn, .theme-btn {
    margin-top: 10px;
    padding: 10px;
}

.help {
    background-color: #f8f9fc;
    padding: 20px;
    margin-top: 20px;
}

.dark .help {
    background-color: #2e2e2e;
    color: white;
}

.tips {
    margin-top: 20px;
    font-size: 14px;
}
